@charset "UTF-8";

body{
/*width: 1115px;*/
/*background-color:#2a2a2a;*/
font-size:11pt;
color :#980000;
font-family : "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
margin:20px auto;



/*background: -moz-linear-gradient(top, #3f3f3f, #0a0a0a);
background: -webkit-gradient(linear, left top, left bottom, from(#3f3f3f), to(#0a0a0a));*/
/*text-shadow:1.5px 1.5px 1px #aaaaaa;
*/


}


header{
    display: block;
background-color:#ffffff;
height:100px auto;
 margin-left: 15%;
}

/*
a:hover {
 box-shadow: none;
 border-radius: 20px;
 font-size: 15px;
 font-weight: 100;
 height: 40px;
 line-height: 40px;
 transform: rotate(360deg);
 width: 40px;
}*/

#menu1{
    width: 100%;    /*横幅の指定*/
    border-top: 1px solid orange;   /*上部の線の色を指定*/
    border-bottom: 1px solid orange;    /*下部の線の色を指定*/
    margin-bottom: 5px; /**/
    overflow: hidden;   /*おまじない*/
   /* font-size: 0px;*/
    background-color: rgb(100, 212, 240);
}


#menu1 ul{
    font-size: 14px;
    width: 60%;
    margin-left: 20%;
    list-style-type: none;
}
#menu1 li{
    width: calc(25% - 2px);
    font-size: 100%;
   /* letter-spacing: 5px;*/
    font-weight: 400;
   /* line-height: 45px;*/
    border-left: 1px solid red;
    color: #313131;
    cursor: pointer;
    text-align: center;
    float: left;
}

#menu1 a{
    display: block; /*1つのli全体にリンクを有効にする*/
    text-decoration: none;  /*ブラウザ標準のリンク装飾をオフに*/
    color:#313131;  /*文字色の変更*/
    font-size: 110%;    /*フォントサイズの指定*/
    letter-spacing: 5px;    /*文字と文字の間隔をあける*/
    font-weight: 400;   /*文字の太さを調整*/
    line-height: 45px;  /*行間の指定（ナビボタンの高さ指定）*/
}


#menu1 li:last-child{
    border-right: 1px solid orange; /*li要素の最後の物は右側に線を描く*/
}

article{
clear:both;
margin-left:15%;
margin-top:30px;
}

header nav a:hover{
background-color:#aaaaaa;
}

article h1{
    background-color:#2a2a2a;
    width:100%;
}