<meta charset="utf-8">

<ul class="main-nav">
    <li><a href="#">あいうえお</a>
    <li><a href="#">menu2</a>
    <li class="has-sub"><a href="#">mさenu3</a>
  
      <ul class="sub-nav">
        <li><a href="#">sub1</a>
        <li><a href="#">sub2</a>
        <li><a href="#">sub3</a>
      </ul>
  
    <li><a hfer="#">menu4</a>
  </ul>


  <ul id="menu1">
    <li><a href="a.html">ああああ</a>
    <li><a href="b.html">いいいい</a>
    <li class="has-sub"><a href="c.html">うううう</a>
      <ul class="sub-nav">
        <li><a href="#">sub1</a>
        <li><a href="#">sub2</a>
        <li><a href="#">sub3</a>
      </ul>
    <li><a href="c.html">ええええ</a>
  </ul>
  