<!DOCTYPE HTML>
<html>
<head>
<link rel="stylesheet" href="test.css" type="text/css">
<meta charset="utf-8">
<title>ここにタイトル</title>


<!--[if lt IE 9]>  
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>  
<![endif]-->





</head>

<body>










<header>
<h1>akibo.org</h1>
<ul id="menu">
  <li>TEST</li>
  <li>いいい</li>
  <li class="root1"><a href="c.html">うううう</a>
    <ul class="sub-nav">
      <li><a href="#">sub1</a>
      <li><a href="#">sub2</a>
      <li><a href="#">sub3</a>
    </ul>
  </li>
  </ul>
</header>

<!--
<ul id="menu1">
  <li class="root1"><a href="a.html">ああああ</a></li>
  <li class="root1"><a href="b.html">いいいい</a></li>
  <li class="root1"><a href="c.html">うううう</a>
    <ul class="sub-nav">
      <li><a href="#">sub1</a>
      <li><a href="#">sub2</a>
      <li><a href="#">sub3</a>
    </ul>
  </li>
  <li class="root1"><a href="c.html">ええええ</a></li>
</ul>
-->



<section>

<article>
<h2>テンプレート</h2>
ここはテンプレート用に使うページです。<BR>

</article>

</section>


<footer>
Copyright (C) 2008.4.27～Today akibo567 All Rights Reserved.
</footer>














</body>
</html>